.well{
    background-color: #EEE;
    border: none;
    text-align: center;
    padding: 30px;
    font-family: arial;
}

header .container {
    color: #AAA;
    padding: 20px;
    border-bottom: 1px solid #999;
    font-size: 25px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: arial;
}

label{
    font-weight: bold;
    color: #333;
    font-family: arial;
}

.btn-primary {
    background-color: #1167c4;
    color: white;
    border: 1px solid #1167c4;
}

footer .container{
    color: #AAA;
    font-weight: bold;
    font-family: arial;
    border-top: 1px solid #999;
    font-size: 14px;
    padding: 20px;
}

.btn-primary:hover{
	box-shadow: 2px 5px 3px 0px #888;
    background-color:#063261;
    border: 1px solid #073769;
}

.webwell {
    background-image: linear-gradient(#EEE,#FFF);
    margin: 20px 0;
    padding: 20px;
}
